# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# yacc intermediate files
y.tab.c
y.tab.h


# lex intermediate file
lex.yy.c

# lexer scratch files
*/lexer/handin
*/lexer/lexer.h.gch
*/lexer/provided
*/lexer/test_result
*/include/lexer.h.gch

# binaries
lexer
parser
symbol
symbol-test
